.mainBox {
    width: 420px;
    padding: 30px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 95px 0;
    background: #8cc9bc;
    box-shadow:0px 8px 25px rgba(0,0,0,0.4);
    border-radius: 8px;
}
.mainBox h2 {
    color: #fff;
}
.cnvs {
   width: 135px;
   height: 3px;
   background-color: #fff;
}
.mainBoxImg {
    display: flex;
    align-items: center;
    margin: 20px 0;
    flex-grow: 1;
}